#icono1{
  width:40px;

}
  

.fa-solid{
  font-size: 22px;
}

.Input-space{
  width: 14%;

}

.Input-space{
  margin: 10px;
}

.corregido{
  width: 35%;
}
.corregido1{
  width: 20.4%;
}

#color{
  background-color: #198754;
  font-weight: bold;
  text-align: center;
  color: white;
}

.green-icon{
  color: #198754;
}
.red-icon{
  color: red;
}

.inputTitular{
  text-transform:uppercase;
}